<div class="flex w-full h-screen justify-center items-center bg-[#e6323a]">
  <mat-card-content
    class="flex flex-col w-96 bg-white justify-center items-center h-96 rounded-md"
  >
    <div class="flex flex-col w-9/12 items-center -mt-6">
      <img src="assets/Arcon_logo.png" alt="Arcon Logo" class="h-24" />
      <form
        (ngSubmit)="onLogin()"
        class="flex flex-col gap-2 w-full"
        name="loginForm"
        [formGroup]="loginForm"
      >
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter email address"
            required
          />
          <mat-error *ngIf="!loginForm.controls['email'].valid">
            Email is required
          </mat-error>
        </mat-form-field>

        <div>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="hide ? 'password' : 'text'"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>
                {{ hide ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.controls['password'].valid">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button color="warn" class="text-xl w-full h-12">
          Sign-in
        </button>
      </form>
    </div>
  </mat-card-content>
</div>
